/*.container-fluid{
    background-image: url("https://media.istockphoto.com/photos/businessman-trading-online-stock-market-on-teblet-screen-digital-picture-id1311598658");
    height: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/

.link-info {
     color: white;
}

.bold{
    font-weight: 700;
}

#AboutMe1:hover{
    text-decoration: underline;
}


#Background:hover{
    font-weight: bolder;
}

#Background1:hover{
    text-decoration: underline;
    font-weight: bolder;
}

#ContactResume:hover{
    font-weight: bolder;
}

#ContactResume1:hover{
    font-weight: bolder;
    text-decoration: underline;
}

#name{
    font-size: 100%;
    transition: font-size 0.5s;
}

#name:hover{
    font-size: larger;
}

div > p > span{
    transition: text-decoration 0.8s, color 0.8s, background-color 0.8s;
}

div:hover > p > span{
    text-decoration: underline;
    color: white;
    background-color: black;
}

